header {
    background-color: transparent;
    width: 100vw;
}

#header__wrapper {
    font-family: $font-heading;
    color: $color-lightest;
    font-size: 1.2rem;
    height: $header-height;
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    justify-content: space-between;
}

#heading--main {
    margin: 0;
    padding: 0 28px;
    align-self: center;
    // text-shadow: 1px 1px 2px $color-primary;
    color: $color-lightest;
}
