#banner {
    background-image: url('../../imgs/piano-overhead.jpg');
    background-repeat: no-repeat;
    background-size: 240%;
    background-position: 44% top;
    border-bottom: 2px solid $color-dark;
    box-sizing: border-box;
    height: 47vh;
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: -1;

    &::before {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-image: linear-gradient(to top, lightgrey 64%, $color-dark 96%);
        opacity: 0.55;
        mix-blend-mode: screen;
    }

    @media (max-height: 500px) {
        height: 100vh;
    }

    h2 {
        position: relative;
        top: 40%;
        left: 10%;
        width: 80%;
        text-shadow: 2px 2px 12px white;
        color: $color-dark;

        &:last-child {
            top: 35%;
            font-size: 1.1rem;
        }
    }
}

main {
    margin: 47vh auto 40px;

    @media (max-height: 500px) {
        margin-top: 100vh;
    }

    .block__home {
        display: flex;
        justify-content: space-around;
        flex-direction: column;

        &:nth-of-type(2n+1) {
            height: 53vh;
            color: $color-primary;
            text-shadow: 0 0 2px $color-dark;
        }

        &:nth-of-type(2n) {
            height: 48vh;
        }

        h1, h2 {
            align-self: center;
            text-align: center;
            width: 70%;
            font-size: 2.35rem;
            margin: 0 auto;
        }

        .link--home {
            text-align: center;
            display: flex;
            align-self: center;
            margin-bottom: 12px;

            a {
                font-size: 1.2rem;
                text-shadow: none;
                margin-top: 0;
            }

            a, a:active, #triangle--top {
                color: $color-dark;
            }

            #triangle--top {
                align-self: flex-end;
                position: relative;
                left: 8px;
            }
        }
    }

    iframe {
        width: 100vw;
        max-width: 560px;
        height: 57vw;
        max-height: 315px;
        margin: 0 auto;
        display: block;
    }
    
    p {
        font-size: 1.3rem;
        padding: 8px;
        margin: 0 auto;
    }
}
