#banner {
    background-image: url('../../imgs/piano-overhead.jpg');
    background-repeat: no-repeat;
    background-size: 240%;
    background-position: 44% top;
    height: 47vh;
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: -1;

    &::before {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-image: linear-gradient(to top, lightgrey 64%, $color-dark 96%);
        opacity: 0.55;
        mix-blend-mode: screen;
    }

    @media (max-height: 500px) {
        height: 100vh;
    }

    h2 {
        position: relative;
        top: 40%;
        left: 10%;
        width: 80%;
        text-shadow: 2px 2px 12px white;
        color: $color-dark;

        &:last-child {
            top: 35%;
            font-size: 1.1rem;
        }
    }
}

main {
    margin-top: 300px;

    @media (max-height: 500px) {
        margin-top: 100vh;
    }

    .block__home {
        height: 55vh;
        display: flex;
        justify-content: space-around;
        border-top: solid 3px $color-dark;
        flex-direction: column;

        &:nth-child(2n+1) {
            background-color: $color-primary;
            color: $color-dark;
        }

        &:nth-child(2n) {
            background-color: $color-dark;
            color: $color-primary;
            height: 45vh;
        }

        h1, h2 {
            align-self: center;
            text-align: center;
            width: 70%;
            font-size: 2.35rem;
            margin: 0 auto;
        }

        #link--home--top {
            text-align: center;
            display: flex;
            align-self: center;

            a {
                font-size: 1.2rem;
                text-shadow: 0 0 3px $color-dark;
                margin-top: 0;
            }

            a, #triangle--top {
                color: $color-lightest
            }

            #triangle--top {
                align-self: flex-end;
                position: relative;
                left: 8px;
            }
        }
    }
}