nav {
    align-self: center;
    height: 28px;
    width: 36px;
    position: relative;
    padding-right: 28px;
}

#nav__bars {
    display: flex;
    height: 100%;
    width: 100%;
}

.nav__bar {
    height: 2px;
    width: 36px;
    background-color: $color-lightest;
    position: absolute;
    left: 0;
}

.burger--top {
    top: 0;
}

.burger--top,
.burger--bottom {
    opacity: 1;
    transition: opacity .3s ease;
}

.burger--middle-1,
.burger--middle-2 {
    top: 13px;
    transition: all .3s ease;
    transform: rotate(0deg);
}

.burger--bottom {
    bottom: 0;
}

.x-1, .x-2 {
    background-color: $color-primary;
}

.x-1 {
    transform: rotate(45deg);
}

.x-2 {
    transform: rotate(-45deg);
}

.disappear {
    opacity: 0;
}

#nav__content,
#nav__content--vertical {
    height: calc(100vh - 65px);
}

#nav__content {
    width: 100vw;
    position: fixed; 
    bottom: 0;
    right: 100vw;
    background-image: radial-gradient(farthest-corner at 21% 11%, $color-dark 70%, white 200%);
    padding: 40px 40px 40px 80px;
    box-sizing: border-box;
    transition: right .3s ease;
    z-index: 9;

    @media (max-height: 500px) {
        padding: 0 0 0 80px;
    }

    div {
        font-size: 1.6rem;
        margin-top: 30px;

        @media (max-height: 500px) {
            margin-top: 10px;
        }

        a {
            color: $color-lightest;
            text-decoration: none;
        }
    }
}

#nav__content--vertical {
    width: 4px;
    background-color: $color-light;
    position: absolute;
    top: -30px;
    left: 60px;

    @media (max-height: 500px) {
        top: -10px;
    }
}