html, body {
    margin: 0 auto;
    padding: 0;
    background-color: $color-lightest;
    box-sizing: border-box;
}

h1 {
    font-family: $font-fancy;
}

h2, h3, h4, h5, h6,
p, a, q, li, ul, ol {
    font-family: $font-sans;
}