// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
// COLORS -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

$color-dark: #281328;
$color-primary: #DDDB3E;
$color-light: #F0FFCE;
$color-lightest: #FAFFF4;

// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
// FONTS =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

$font-heading: 'Unica One', serif, cursive;
$font-sans: 'Abel', sans-serif;

// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
// Measurements =-=-=-=-=-=-=-=-=-=-=-=-=-=-
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

$header-height: 65px;
