// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
// COLORS -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

$color-dark: #281328;
$color-primary: #DDDB3E;
$color-light: #F0FFCE;
$color-lightest: #FAFFF4;

// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
// FONTS =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

$font-fancy: 'Pinyon Script', cursive;
$font-sans: 'Alata', sans-serif;

// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
// Measurements =-=-=-=-=-=-=-=-=-=-=-=-=-=-
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

$header-height: 72px;
